html, body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

#room {
  background-color: black;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.main {
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;
  background-color: black;
  color: #ffffff;
}

.users {
  width: 100%;
  height: 93%;
}

.bigbox {
  width: 100%;
  height: 75%;
}

.smallbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 25%;
}

.videobox {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.videocall {
  -webkit-transform: scaleX(-1);/*flips the video*/
  transform: scaleX(-1);
}

.username {
  width: 100%;
  height: 5%;
  max-height: 5%;
  color: white;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videosize {
  width: 100%;
  max-width: 100%;
  max-height: 95%;
}

video::-webkit-media-controls-panel {
  width: 100%;
}

.features {
  display: none;
}

.featuresadjusted {
  display: block;
  float: left;
  width: 30%;
  max-width: 30%;
  height: 100%;
}

.mainadjusted {
  float: left;
  width: 70%;
}

#bottombar {
  background-color: #333333;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
}

.bottombutton {
  background-color: #333333;
  color: rgb(182, 182, 182);
  text-align: center;
  padding: 14px 16px;
  font-size: 100%;
  border-style: none;
  cursor: pointer;
  outline: none;
}

.bottombutton:hover {
  background-color: #ddd;
  color: black;
}

.options {
  color: white;
  margin: 0 auto 0 auto;
}

#leave {
  color: red;
  margin-left: auto;
}

.box {
  display: none;
}

.chatandfile {
  
  width: 100%;
  height: 100%;
}

#chatbox {
  width: 100%;
  height: 70%;
}

#chatbox > .title {
  background-color:  black;
  width: 100%;
  height: 10%;
  color: white;
  font-size: xx-large;
}

#chatbox > .messages {
  background-color: white;
  height: 80%;
  width: 100%;
  font-size: 10px;
  overflow-y: scroll;
  border-bottom: #333333;
}

#chatbox > .text {
  background-color: white;
  color: black;
  height: 10%;
  font-size: 10px;
}

#chatbox > .text > #message {
  background-color: white;
  color: black;
  resize: none;
  float: left;
  height: 100%;
  width: 85%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  outline: none;
}

#chatbox > .text > #message::placeholder {
  color: black;
}

#sendbutton {
  border-style: none;
  width: 15%;
  height: 100%;
  font-size: 90%;
  text-align: center;
  background-color: skyblue;
  outline: none;
}

.allmessages {
  border-radius: 20px;
  padding: 5px;
  margin: 5px 0;
  width: 60%;
  max-width: 60%;
  min-height: 5%;
  color: black;
  text-align: left;
  overflow-wrap: break-word;
}

.localmessages {
  background-color: #0bdafb;
  float: right;
}

.remotemessages {
  background-color: lightgray;
  float: left;
}

#filesbox {
  width: 100%;
  height: 30%;
}

#filesbox > .title {
  background-color: black;
  color: white;
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: xx-large;
}

#filesbox > .fileinput {
  background-color: white;
  max-width: 100%;
  height: 30%;
}

#myFile {
  font-size: 12px;
  border: none;

}

#fileupload {
  font-size: 12px;
  border-style: none;
}

.fileList {
  background-color: white;
  width: 100%;
  height: 50%;
  text-align: left;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}

ul li {
  width: 50%;
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  text-decoration: none;
  font-size: 12px;
  color: black;
  display: block;
  position: relative;
}

/* Add a light grey background color on hover */
ul li:hover {
  background-color: #eee;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  max-width: 50%;
  max-height: 30%;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#livetextbox {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#livetextbox > .title {
  background-color: #5b5563;
  color: #3eb0dc;
  text-align: left;
  font-size: xx-large;
  height: 10%;
}

#livetextarea {
  display: block;
  height: 85%;
  width: 100%;
  max-width: 100%;
  background-color: #5b5563;
  color: #3eb0dc;
  overflow: scroll;
  text-align: left;
  resize: none;
  outline-color: #333333;
  outline: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#livetextarea::placeholder {
  color: #3eb0dc;
}

.copy {
  background-color: #5b5563;
  height: 5%;
}

#copytext {
  height: 100%;
  background-color: #5d8baf;
  border: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.close {
  float: right;
  border-style: none;
  background-color: inherit;
  font-size: xx-large;
  color: white;
  outline: none;
  cursor: pointer;
}

#editbox {
  background-color: gray;
  width: 100%;
  height: 100%;
}

#editbox > .title {
  width: 100%;
  height: 10%;
  text-align: left;
  font-size: xx-large;
}

#editor {
  width: 100%;
  height: 90%;
}

.modal {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  background-color: gray;
  width: 20%;
  height: 20%;
  z-index: 5;
}

#closesettings {
  float: right;
  border-style: none;
  background-color: inherit;
  font-size: xx-large;
  color: white;
  outline: none;
  cursor: pointer;
}