html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#room {
  background-color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.main {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
  color: #ffffff;
}

.users {
  width: 100%;
  height: 90%;
}

.videobox {
  height: 75%;
}

.remotebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25%;
}

.stream {
  max-width: 100%;
  height: 100%;
}

.remote {
  max-width: 100%;
  height: 100%;
}

.features {
  display: none;
}

.featuresadjusted {
  display: block;
  float: left;
  width: 25%;
  height: 100%;
}

.mainadjusted {
  float: left;
  width: 75%;
}

#bottombar {
  background-color: #333333;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.bottombutton {
  background-color: #333333;
  color: rgb(182, 182, 182);
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  border-style: none;
  cursor: pointer;
}

.bottombutton:hover {
  background-color: #ddd;
  color: black;
}

.options {
  color: white;
  font-size: small;
  margin: auto;
}

#leave {
  color: red;
  margin-left: auto;
}

.chatandfile {
  display: none;
  width: 100%;
  height: 100%;
}

#chatbox {
  width: 100%;
  height: 70%;
}

#chatbox > .title {
  background-color:  black;
  width: 100%;
  height: 10%;
  color: white;
  font-size: xx-large;
}

#chatbox > .messages {
  background-color: white;
  height: 80%;
  width: 100%;
  display: block;
  font-size: 10px;
  overflow-y: scroll;
  border-bottom: #333333;
}

#chatbox > .text {
  background-color: white;
  color: black;
  height: 10%;
  font-size: 10px;
}

#chatbox > .text > #message {
  background-color: white;
  color: black;
  resize: none;
  float: left;
  height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  outline: none;
}

#chatbox > .text > #message::placeholder {
  color: black;
}

#sendbutton {
  margin-top: 20px;
  border-style: none;
  width: 15%;
  font-size: 90%;
  text-align: center;
}

.allmessages {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  min-width: 80%;
  min-height: 20px;
  color: black;
  overflow: auto;
}

.localmessages {
  background-color: #0bdafb;
  float: right;
}

.remotemessages {
  background-color: lightgray;
  float: left;
}

#livetextbox {
  display: none;
  width: 100%;
  height: 100%;
}

.title {
  background-color: #5b5563;
  color: #3eb0dc;
  text-align: left;
  font-size: xx-large;
  text-indent: 2px;
  height: 10%;
}

#livetextarea {
  height: 90%;
  background-color: #5b5563;
  color: #3eb0dc;
  overflow: auto;
  text-align: left;
  resize: none;
  outline-color: #333333;
  outline: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#livetextarea::placeholder {
  color: #3eb0dc;
}

.close {
  float: right;
  border-style: none;
  background-color: inherit;
  font-size: xx-large;
  color: white;
}

#filesbox {
  width: 100%;
  height: 30%;
}

#filesbox > .title {
  background-color: black;
  color: white;
  max-width: 100%;
  height: 20%;
}

#filesbox > .fileinput {
  background-color: white;
  max-width: 100%;
  height: 80%;
}
  
.capture {
  display: none;
  width: 100%;
  height: 100%;
}

.capture > .title {
  width: 100%;
  height: 10%;
}

ul {
  list-style-type: none;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

/* Add a light grey background color on hover */
ul li:hover {
  background-color: #eee;
}

.fileclose {
  cursor: pointer;
}

