body {
    margin: 0;
    line-height: 1.8;
    background-color: #7897ef;
    color: #2a2a35;
    font-family: "Raleway", sans-serif;
}

.w3-bar .w3-button {
    padding: 16px;
}

#selectroom {
    text-align: center;
    margin-top: 200px;
    font-size: x-large;
}

#selectname {
    display: none;
    text-align: center;
    margin-top: 200px;
    font-size: x-large;
}

input, button {
    background-color: white;
    border-style: solid;
    border-color: unset;
}

